@import url('../content-title/content-title.css');
@import url('../content-subtitle/content-subtitle.css');
@import url('../comment/comment.css');

.comments {
  max-width: 1184px;
  margin: 102px auto 0;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width : 1281px) {
  .comments {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width : 900px) {
  .comments {
    width: calc(100% - 128px);
  }
}

@media screen and (max-width : 600px) {
  .comments {
    width: calc(100% - 32px);
    margin: 64px auto 0;
  }
}
