@import url('../photo-grid/__item/photo-grid__item.css');

.photo-grid {
  max-width: 1184px;
  margin: 102px auto 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}


@media screen and (max-width : 1200px){
  .photo-grid{
      grid-gap: 14px;
      margin-bottom: 102px;
      width: calc(100% - 96px);
  }
}

@media screen and (max-width : 900px){
  .photo-grid{
      grid-gap: 16px;
      margin-bottom:102px;
      width: calc(100% - 48px);
  }
  }


@media screen and (max-width : 600px) {
  .photo-grid {
    margin-top: 64px;
    width: calc(100% - 32px);
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  }
}


@media screen and (max-width: 420px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}

