.paragraph-container__element {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 36px;
}


@media screen and (max-width : 1200px) {
  .paragraph-container__element {
    margin: 0 0 24px;
  }
}


@media screen and (max-width : 900px) {
  .paragraph-container__element {
    font-size: 16px;
    line-height: 27px;
  }
  .paragraph-container__element:last-of-type {
    margin: 0;
  }
}
