@import url('../lead/__title/lead__title.css');
@import url('../lead/__subtitle/lead__subtitle.css');
@import url('../lead/__image/lead__image.css');
@import url('../lead/__caption/lead__caption.css');

.lead {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 48px auto 0;
  max-width: 985px;
}
