@import url('__logo/header__logo.css');
@import url('./__langs/hesder__langs.css');
@import url('./__lang/header__lang.css');

.header {
  max-width: 82.2%;
  margin: auto;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width : 1200px) {
  .header {
    width: 90.6%;
  }
}

@media screen and (max-width : 900px) {
  .header {
    width: 93.8%;
  }
}

@media screen and (max-width : 600px) {
  .header {
    width: 91.5%;
  }
}

@media screen and (max-width : 321px) {
  .header {
    width: 90%;
  }
}
