.footer__author {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (min-width : 761px) {
  .footer__author {
    margin: 0;
    align-self: center;
  }
}

@media screen and (max-width : 760px) {
  .footer__author {
    text-align: start;
    margin: 48px 0 0 0;
  }
}

