

.video__duration {
  margin: 0;
  padding-top: 94px;
  padding-left: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  position: relative;
  z-index: 2;
}


@media screen and (max-width: 1217px) {
  .video__duration {
    padding-top: 54px;
  }
}

@media screen and (max-width: 1023px) {
  .video__duration {
    padding-top: 36px;
  }
}

@media screen and (max-width: 767px) {
  .video__duration {
    padding-top: 41px;
    padding-left: 24px;
  }
}
