@import url('./__container/comment__container.css');
@import url('./__img/comment__img.css');
@import url('./__quote/comment__quote.css');
@import url('./__author/comment__author.css');

.comment {
  max-width: 100%;
  margin: 72px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  grid-gap: 19px;
}

@media screen and (max-width : 900px) {
  .comment {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 48px;
    width: calc(100% - 258px);
  }
}

@media screen and (max-width : 600px) {
  .comment {
    margin-top: 48px;
    width: 100%;
  }
}

@media screen and (max-width : 321px) {
  .comment {
    margin-top: 40px;
  }
}
