
@import url('./__link/cover__link.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__bg/cover__bg.css');


.cover {
  max-width: 1184px;
  height: 594px;
  margin: 102px auto 0;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1217px) {
  .cover {
  height: 562px;
  }
}

@media screen and (max-width: 1012px) {
.cover {
height: 500px;
  }
}

@media screen and (max-width: 677px) {
.cover {
  height: 272px;
  }
}
@media screen and (max-width: 374px) {
  .cover {
    height: 216px;
    margin-top: 64px;
  }
}
