@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

/*Границы для проверки разметки*/
div,
img,
h1,
p,
a,
h3,
h4,
h5,
section,
nav {
  border: 1px solid red;
}
/*Общие стили для страницы, тут еще шрифты проверить */
.page {
  background: #2A2C2F;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;

}

/*Стили для шапки*/
.header {
  max-width: 1184px;
  max-height: 52px;
  margin: 0 auto;
  padding-top: 30px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  background-image: url(../images/__logo.svg);
  width: 176.58px;
  height: 52px;
}
.header__langs {
  list-style-type: none;
  display: inline-flex;
}

.header__lang {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  margin-right: 18px;
}
/*почему не работет???*/
.header__lang:last-of-type {
  margin-right: 0;
}
.header__lang:hover {
  opacity: .5;
  transition: .3s;
  text-decoration: underline;
}

/*Общие стили для контента*/
.content {

}

/*Секция lead*/
.lead {
  color: #FFFFFF;
  max-width: 985px;
  max-height: 950px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 48px;
}
.lead__title {
  max-width: 782px;
  max-height: 184px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 93px;
  text-align: center;
}
.lead__subtitle{
  max-width: 583px;
  max-height: 65px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 48px 0 78px;
}
.lead__image{
  width: 100%;
  margin: 0 0 10.87px;
}
.liad__caption{
  max-width: 636px;
  max-height: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 0;
}

/*Секция intro*/
/*тут прилипла  фраза под картинкой, надо исправить*/
.intro {
  color: #FFFFFF;
  max-width: 985px;
  max-height: 950px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.intro__title {
  max-width: 683px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
}
.intro__content-row {
  max-width: 683px;
}
.intro__content-row_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.intro__places {
  list-style-type: none;
  margin: 24px 0 0;
  padding: 0;
}
.intro__place {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}


/*Секция photo-grid*/
.photo-grid {
  max-width: 1184px;
  max-height: 596px;
}
.photo-grid__item {

}

/*Секция places*/
.places {

}

/*Секция video*/
.video {

}

/*Секция comments*/
.comments {

}

/*Секция cover*/
.cover {

}

/*Футер*/
.footer {

}
