.liad__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 10.87px;
  margin-bottom: 0;
}

@media screen and (max-width : 1200px) {
  .liad__caption {
    margin-top: 16px;
  }
}

@media screen and (max-width : 900px) {
  .liad__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width : 600px) {
  .liad__caption {
    margin-top: 10px;
  }
}

@media screen and (max-width : 321px) {
  .liad__caption {
    margin-top: 8px;
  }
}

