@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('./__url-name/place__url-name.css');
@import url('./__url/place__url.css');
@import url('./__image/place__image.css');
@import url('../paragraph-container/paragraph-container.css');


.place{
  max-width: 984px;
  margin-bottom: 72px;
  display: grid;
  grid-template-areas:
      "title url"
      "image paragraph-conteiner";
  column-gap: 2.5rem;
  row-gap: 3.75rem;
}
.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width : 1200px) {
  .place {
    column-gap: 2rem;
    row-gap: 2.5rem;
  }
}

@media screen and (max-width : 900px) {
  .place {
    column-gap: 1.75rem;
  }
}
@media screen and (max-width : 375px) {
  .place {
    margin-bottom: 48px;
    grid-template-areas:
      "title"
      "image"
      "paragraph-conteiner";
      gap: 0;
  }
}
