.video__container {
  margin: 72px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(583px, 1fr));
  grid-gap: 18px;
  justify-items: center;
}

@media screen and (max-width: 1217px) {
  .video__container {
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(456px, 1fr));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .video__container {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .video__container {
    max-width: 343px;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    grid-gap: 8px;
  }
}


@media screen and (max-width: 374px) {
  .video__container {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin: 24px auto 0;
  }
}
